<div class="user-index-page">
  <h1 class= "logo text-center">Users</h1>
  <% @users.each do |user| %>
    <div class ="user-page">
      <%= profile_pic(user)%>
      <div class = "profile-info">
        <h3><%= user.username%></h3>
        <div class="count-info-flex">
          <span class="count-info"><b><%=user.posts.count%></b> posts</span>
          <span class="count-info"><b> <%=user.followers.count%></b> followers</span>
          <span class="count-info"><b><%=user.followees.count%></b> following</span>
        </div>
        <h6><b><%= user.email%></b></h6>
      </div>
      <div>
      </div>
    </div>
    <hr>
  <%end%>
</div>
