<div class= "post-body">
  <h1 class="text-center logo">Post</h1>
  <div class="carousel " data-flickity='{ "freeScroll": true }'>
    <%@post.images.each do |image|%>
      <%= image_tag(image, class: "post-pic border carousel-cell")%>
    <%end%>
  </div>
  <h3><%=@post.user.username%></h3>
  <%=@post.body%>
  <br>
  <span class= "like-count">
    <%=@post.likes.count%>
  </span>
  <b>likes</b>
  <div class= "post-btn">
    <%= post_like_btn%>
    <%= user_post_btn%>
  </div>
  <hr>
  <div class="add-comment-btn">
    <h2 >Comments</h2>
    <%= button_to 'Add Comment',new_post_comment_path(@post) , method: :get, class: "btn btn-outline-dark add-comment-btn"%>
  </div>
  <%@post.comments.each do |comment| %>
    <b><%=link_to comment.user.username, comment.user%></b>:<br>
    <%=comment.body%><br>
    <span id="comment-like-count-<%=comment.id%>"><%=comment.likes.count%></span> <b>likes</b>
    <div class="post-btn">
      <%= comment_like_btn(comment)%>
      <%= user_comment_btn(comment)%>
      <%= user_post_comment_btn(comment)%>
    </div>
    <hr>
  <% end %>
</div>
<%=javascript_pack_tag 'flickity'%>
