<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="navigation border ">
      <div class="logo">
        <%= link_to current_user do%>
          <h4>Instagram</h4>
        <% end %>
      </div>
      <%=form_with url: users_path, method: :get do |f|%>
        <div class="input-group input-group-sm">
          <%= f.text_field :search, class: "form-control input-sm", id: "inputGroup-sizing-sm", placeholder: "Search People"%>
          <div class="input-group-append">
            <%=f.submit 'Search', class: "btn btn-sm btn-outline-secondary", id: "inputGroup-sizing-sm"%>
          </div>
        </div>
      <%end%>
      <div class="d-flex align-items-center justify-content-between ">
        <%= link_to current_user do%>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person " viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
        <%end%>
        <%= button_to 'sign out', destroy_user_session_path, method: :delete , class: "btn btn-sm btn-light border icon-profile"%>
      </div>
    </div>
    <%= render 'flash_messages'%>
    <%= yield %>
  </body>
</html>
